<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scoproject.rijksmuseum">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".RijskMuseumApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".features.splashscreen.presentation.SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".features.login.presentation.LoginActivity" />
        <activity android:name=".features.registration.presentation.RegistrationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scoproject.rijksmuseum.features.login.presentation.LoginActivity" />
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".features.listart.presentation.ListArtActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name"
            android:name=".features.profile.presentation.ProfileActivity"/>
        <activity
            android:label="Detail"
            android:name=".features.detailart.presentation.DetailArtActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scoproject.rijksmuseum.features.listart.presentation.ListArtActivity" />
        </activity>
    </application>

</manifest>